nav {
  padding: 3.1em;
}
nav .links {
  display: flex;
  gap: 5em;
  font-size: 1.3em;
}
nav .links #lks {
  text-decoration: none;
  font-family: "EB Garamond", serif !important;
  font-weight: 500;
}
nav .links #lks a {
  color: #20211E !important;
}